---
---

@import "{{ site.theme }}";

footer p {
  color: #1e90ff;
}
footer a {
  color: #1e90ff;
  text-decoration: underline;
}
#footer_wrap {
  background: #1E90FF;
}
#header_wrap {
  background: #1E90FF;
}
